<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>전체 상품</title>
    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>
<header>
    <div>
        <a href="../main.html" class="logo-link">EyeCare</a>
    </div>
    <div class="header-buttons">
        <button class="header-btn" onclick="location.href='account/login.html'">로그인</button>
        <button class="header-btn" onclick="location.href='account/register.html'">회원가입</button>
    </div>
</header>

<div class="products-section">
    <div class="products-title">전체 상품</div>
    <div class="product-list">
    <th:block th:each="prod : ${products}">
        <div class="product-wrapper">
            <div class="product"></div>
            <div class="product-info">
                <span th:text="${prod.name}">상품명</span><br>
                <span th:text="${prod.price}">가격</span>
            </div>
        </div>
    </th:block>
</div>
</div>
</body>
</html>